# App
APP_NAME=Youshika
WEB_PORT=5173
SERVER_PORT=3001
CORS_ORIGIN=http://localhost:5173

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=youshika
MYSQL_PORT=3306
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=youshika

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
